{% extends 'accounts/master.html' %} {% block content %} 
<div class="card card-head mt-2">
    <h3>
        Do you want to delete {{ customer }} ?
    </h3>
</div>
<div class="card card-body">
    <form action="{% url 'deleteCus' customer.id %}" method="POST">
        {% csrf_token %}
        <a class="btn btn-sm btn-warning" href="{% url 'home' %}">
            Cancel
        </a>
        <button class="btn btn-sm btn-danger" >
            Delete
        </a>
    </form>
</div>

{% endblock %}
