{% extends 'accounts/master.html' %} {% block content %}
{% include 'accounts/customer-status.html' %}
<h4>My orders</h4>
<div class="row">
  <div class="col-md">
    <div class="card card-body">
      <table class="table table-sm">
        <tr>
          <th>Product</th>
          <th>Category</th>
          <th>Date Orderd</th>
          <th>Status</th>
        </tr>
        {% for order in orders %}
        <tr>
          <td>{{order.Product}}</td>
          <td>{{order.Product.category}}</td>
          <td>{{order.Product.date_created}}</td>
          <td>{{order.status}}</td>
          <td>
            <a
              href="{% url 'update-order' order.id %}"
              class="btn btn-sm btn-info"
              >Update</a
            >
          </td>
          <td>
            <a href="{% url 'delete' order.id %}" class="btn btn-sm btn-danger">
              Delete
            </a>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}
